<div class="container">
	<div class="row">
		<div id="content" class="span10">
			<div id="container">
			</div>
			<div id="inputWrap">
				<input type="text" class="input-xlarge" id="wordBox" placeholder="단어입력" />
			</div>
		</div>
		<div id="aside" class="span2">
			<div class="infoWrap">
				<div class="alert">
				J2P
				</div>
				<div class="alert">
				Level 1
				</div>
				<div class="alert">
					0점
				</div>
				<div class="progress progress-danger progress-striped active">
					<div class="bar" style="width:100%"></div>
				</div>
			</div>
		</div>
	</div>
</div>
