<div class="container">
	<header class="jombotron masthead">
		<div class="inner">
			<h1>Method Typing</h1>
		</div>
		<p>
			<a href="/auth/twitter" class="btn btn-inverse btn-large">Twitter Login</a>
			<a href="/auth/facebook" class="btn btn-inverse btn-large">Facebook Login</a>
		</p>
	</header>
</div>