body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #353847;
}

#content{
	margin-left: 20px;
	height: 750px;
	border-left: 1px solid #8287a8;
	border-right: 1px solid #8287a8;
	border-bottom: 1px solid #8287a8;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background: #fff;
	box-shadow: inset 0 0 3px 3px #21242d;
	background: #252733;
}

#wordWrap{
	height: 700px;
}

#inputWrap{
	text-align: center;
}

#inputWrap input{
	padding: 10px;
	color: #fff;
	border: 1px solid #181b24;
	box-shadow: inset 1px 1px 1px 2px rgba(0,0,0,.2);
	background: #303440;
}

#aside{
	padding: 20px 0;
}

#aside .infoWrap div.alert{
	color: #fff;
	border: 1px solid #181a27;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #323848;
	background: -webkit-gradient(linear, left top, left bottom, from(#4a4f63), to(#323848));
	background: -moz-linear-gradient(top,  #4a4f63,  #323848);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4f63', endColorstr='#323848');
}